/*******Reset CSS***********/

:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: grey;
  --second-color: aqua;
  --main-modal-color: rgba(255, 68, 0, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/******Componente Title*****/
.title {
  text-align: center;
  padding: 0.5rem;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
}

.title::first-letter {
  color: blue;
}
.linkTitle {
  text-decoration: none;
}
/*****Logo****/
.logo {
  width: 10vh;
  margin-left: 1rem;
}
/*********Component Nav*******/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buyCart {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.menuRef {
  width: 100%;
  background-color: rgb(66, 181, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuRef > * {
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-bottom: 3.5px solid transparent;
}

.menuRef > *:hover {
  border-bottom: 3.5px solid white;
  font-weight: bold;
}

/**********Imagen Carrito Compra*********/
.imgLogo {
  height: auto;
  width: 2.5rem;
}

#h2 {
  color: black;
}

/*************boton Add Cart************/

.addCart {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.countItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 4rem;
}

.countItem button {
  width: 3.3rem;
  height: 3.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.countItem button:hover,
.addBtn:hover {
  background-color: #222;
}
.countItem p {
  text-align: center;
  color: black;
  font-weight: bold;
}

.addBtn {
  width: 80%;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4rem;
}

/*********Item Productos*******************/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 10fr));
  grid-template-rows: auto;
}

.card {
  background-color: var(--second-color);
  color: var(--main-color);
  overflow: hidden;
  transition: all 0.3s ease-out;
  margin-bottom: 2.5rem;
}

.imgCard {
  width: 100%;
  max-height: 300px;
}

.card:hover {
  box-shadow: 2px 2px 2px 1.5px rgba(0, 0, 0, 0.4);
}
.card figcaption {
  padding: 0.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.price {
  text-align: center;
  background-color: rgb(66, 181, 209);
  width: 60%;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.detail {
  background-color: white;
  padding: 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 1.5rem;
  cursor: pointer;
  color: black;
  box-shadow: 2px 2px 2px 1.5px rgba(0, 0, 0, 0.4);
}

.detail:hover {
  box-shadow: none;
}

/******Item detail Container*****/
.itemContainer {
  width: 60vw;
  margin: 4rem auto 2rem auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  justify-items: center;
  border: 1px solid black;
  background-color: aqua;
}
.cardItem {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(131, 57, 57);
}
.imgItem {
  width: 80%;
  height: auto;
  padding: 1rem;
}

.titleProd {
  text-align: center;
  font-size: 1.4rem;
  background-color: #222;
  color: aliceblue;
  width: 100%;
}

.description {
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

/**********Form Buy****/
.buyContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBuy input {
  width: 100%;
}

.itemLink {
  text-decoration: none;
}

.itemCount {
  border-radius: 1rem;
  color: white;
  padding: 0 0.5rem;
  background-color: black;
}

/********Logo Loader*******/

.loaderLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}